<!DOCTYPE html>
{% extends "home/index.html" %}
{% load static %}
{% block start %}
<body style="background-image: url({% static 'images/stars.jpg' %});font-family: 'Roboto', sans-serif;">
	<div style="height: 100%;width: 100%;">
		<section style="color: white;">
			<h1 style="margin: 10vh 0vw 5vh 5vw;font-size: 5vw;background: black;width: 45vw">Welcome To STaTE</h1>
			<h2 style="margin: 10vh 5vw 5vh 5vw;font-size: 2vw;background: black;width: 60vw">The Spacecraft-Control-Center Training and Testing Environment</h2>

			<center>
				<ul class="nav flex-column">
					<li><a  class="button1" href="{% url "fo:login" %}">Flight Operator Login</a></li>
					<li><a  class="button1" href="{% url "tc:login" %}">Test Conductor Login</a></li>
				</ul>
			</center>

		</section>
	</div>
</body>
{% endblock start %}