/* bottom console*/
.resizable {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25rem;
    min-height: 9rem;
    max-height: 90%;
    background-color: #1e1e1e;
    color: #fff;
    border-top: 1px solid #ccc;
    font-family: monospace;
    z-index: 1;
}
.left-side {
    width: 50%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    border-right: 1px solid #ccc;
}
#hide {
    visibility: hidden;
}
.right-side {
    width: 50%;
    height: 100%;
    float: right;
    box-sizing: border-box;
}
.title {
    height:fit-content;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 16px;
    border-bottom: 1px solid #ccc;
}
.left-content-wrapper {
    height: calc(100% - 4.5rem);
    overflow-y: auto;
}
.right-content-wrapper {
    height: calc(100% - 9rem);
    overflow-y: auto;
}
.terminal {
    height: 100%;
    padding: 16px;
    box-sizing: border-box;
}
.input-container {
    height: 5rem;
    padding: 16px;
    box-sizing: border-box;
    border-top: 1px solid #ccc;
    overflow: hidden;
}
input[type="text"] {
    width: 100%;
    height:fit-content;
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    background-color: #282828;
    color: #fff;
}
.resizable-handle {
    position: absolute;
    top: -8px;
    left: 50%;
    width: 16px;
    height: 16px;
    margin-left: -8px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: ns-resize;
}