/* left navigation bar */
.main-container1 {
    display: flex;
    width: 100vw;
    position: relative;
    z-index: 1;
}
.navleft {
    min-height: 100%;
    width: 180px;
    background-color: #ffffffff;
    position: absolute;
    box-shadow: 1px 1px 10px #ffffffff;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    }
.navleft-option {
    width: 180px;
    height: 80px;
    display: flex;
    align-items: center;
    border-left: 7px solid #ffffffff;
    background-color: var(--Border-color);
    color: #000000af;
    cursor: pointer;
}
.navleft-option:hover {
    width: 180px;
    background-color: #dadada;
    cursor: pointer;
}
.nav-img {
    height: 60px;
}
