 /* Split the screen in half */
 .split {
    position: fixed;
    overflow-x: auto;
  }
  
  /* Control the left side */
  .left {
    height: 100vh;
    width: 48vw;
    left: 0;
  }
  
  /* Control the right side */
  .right {
    height: 100vh;
    width: 48vw;
    right: 0;

  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
