#classtable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #classtable td, #classtable th {
    border: 0px solid #ddd;
    padding: 2%;
    background-color: aliceblue;
  }
  
  #classtable tr:nth-child(even){background-color: white;}
  
  #classtable tr:hover {background-color: #ddd;}
  
  #classtable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: navy;
    color: white;
  }

  #simtable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 95.5%;
    margin-left: 4.5%;
    table-layout: fixed;
    text-size-adjust: auto;
    z-index: 3;
  }
  
  #simtable td, #simtable th {
    border: 1px solid #ddd;
    padding: 1%;
    background-color: aliceblue;
    height: fit-content;
    width: fit-content;
    text-size-adjust: auto;

  }
  
  #simtable tr:nth-child(even){background-color: white;}
  
  #simtable tr:hover {background-color: #ddd;}
  
  #simtable th {
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    background-color: navy;
    color: white;
    text-size-adjust: auto;
  }

  #missiontable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 95.5%;
    margin-right: 4.5%;
    table-layout: fixed;
    text-size-adjust: auto;
  }
  
  #missiontable td, #missiontable th {
    border: 1px solid #ddd;
    padding: 1%;
    background-color: aliceblue;
    height: fit-content;
    width: fit-content;
    text-size-adjust: auto;
  }
  
  #missiontable tr:nth-child(even){background-color: white;}
  
  #missiontable tr:hover {background-color: #ddd;}
  
  #missiontable th {
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    background-color: navy;
    color: white;
    text-size-adjust: auto;
  }

  #simtable button {
    width: fit-content;
    padding: .5vh, .5vw;
  }

  #missiontable button {
    width: fit-content;
    padding: .5vh, .5vw;
    text-size-adjust: 10%;
  }

  /*@media only screen and (max-width: 480px) {*/
    /* horizontal scrollbar for tables if mobile screen */

    /*#simtable {
      width: 100%;
      table-layout: fixed;
      margin-left: 0%;
      margin-right: 0%;
    }
    #simtable button {
      padding: 0%;
      font-size: 80%;
      margin-left: 0%;
    }

    #simtable .one{
      width: 13%;
    }
    #simtable .four{
      width: 20%;
    }
    #simtable .five{
      word-wrap: break-word;
    }

    #missiontable {
      width: 100%;
      table-layout: fixed;
      margin-left: 0%;
      margin-right: 0%;
    }
    #missiontable button {
      padding: 0%;
      font-size: 80%;
      margin-left: 0%;
    }

    #missiontable .one{
      width: 13%;
    }
    #simtable .four{
      width: 20%;
    }
    #missiontable .five{
      word-wrap: break-word;
    }

    #invisibleHeader .button{
      font-size: small;
      padding: 0%;
      margin-left: 0%;
    }
  }