extends layout

block content

  h1 Welcome to STaTE
  p.lead The Spacecraft Testing and Training Environment
  hr

  .row
    a.btn.btn-primary(href='/signup', role='button') Login As Flight Operator »

  .row
    a.btn.btn-primary(href='/signup', role='button') Login As Test Conductor »
