{% extends "home/index.html" %}
{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="../../../static/css/table.css">
</head>
{% block start %}
<body style= "background-size:cover; background-attachment: fixed; background-repeat: no-repeat; background-image: url({% static 'images/space.jpg' %}); height: 100vh">
  <div>
      {% if user.is_authenticated %}

      <center><h1 style = "color: white; font-family: Arial, Helvetica, sans-serif;">Welcome to {{ class_name }}</h1></center>
      <div class="split left">
          <center>
              <div class = "header" id = "header">
                <table class ="invisibleheader" id = "invisibleHeader" align = "center" border = "0" style="width: 95%; margin-left: 5%; font-size: 18px; z-index: -1;">
                  <thead>
                    <th style = "color: white;">Sim List</th>
                    <th><button class = "button" id="addsim" onclick="window.location ='{{ class_name }}/newSim';"><span class="glyphicon glyphicon-plus"></span>&nbsp;New Sim</button></th>
                  </thead>
                </table>     
              </div>
          </center>
          <div class="notcentered" style = "z-index: -1;">
            <table id = "simtable" align = "left" border="2">
              <thead>
                <th class="one" style = "width:20%;"></th>
                <th class="two">Name</th>
                <th>Status</th>
              </thead>
              {% for sim in sims %}
              <tr>
                <td><button id = {{sim}} type = "button" data-toggle = "modal" data-target = "modal1" class="edit"><span class="glyphicon glyphicon-wrench"></span></button><button id = {{sim.pk}} type = "button" data-toggle = "modal" data-target = "modal1" class="download"><span class="glyphicon glyphicon-save"></span></button></td>
                <td class="five"><a class = "simlist" href="{% url 'tc:sim' sim.pk %}">{{ sim }}</a></td>
                <td>{{sim.status}}</td>
              </tr>
            {% endfor %}
            </table>  
          </div>
       </div>   
          
      <div class="split right">
          <center>
            <div class = header>
              <table class="invisibleheader" id = "invisibleHeader" align = "center" border = "0" style="width: 95%; margin-left: 5%; font-size: 18px;">
                <thead>
                  <th style="color: white">Mission List</th>
                  <th><button class = "button" id="addsim" onclick="window.location ='{{ class_name }}/newMission';"><span class="glyphicon glyphicon-plus"></span>&nbsp;New Mission</button></th>
                </thead>
              </table>     
            </div>
          </center>
          <div class="notcentered">
            <table id="missiontable" align = "right" border="2">
              <thead>
                <th></th>
                <th style = "width: 50%;">Name</th>
                <th style = "border-right-color: navy !important;"></th>
                <th style = "border-right-color: navy !important; border-left-color: navy;">Final</th>
                <th style = "border-right-color: navy !important;"></th>
                <tr>
                  <th></th>
                  <th></th>
                  <th>Roll</th>
                  <th>Pitch</th>
                  <th>Yaw</th>
                </tr>
              </thead>
              {% for mission in missions %}
              <tr>
                <td><button id = {{mission}} type = "button" data-toggle = "modal" data-target = "modal1" class="missionedit"><span class="glyphicon glyphicon-wrench"></span></button></td>
                <td><a class = "missionlist">{{ mission.verbose_name }}</a></td>
                <td>{{mission.final_roll}}</td>
                <td>{{mission.final_pitch}}</td>
                <td>{{mission.final_yaw}}</td>
              </tr>
            {% endfor %}
            </table> 
          </div>
       </div>
    <center>
      <div id="modal4" class="modal" style = "padding-top: 15%;">
        <div class="modal-content"style="width: 65%">
          <div class="modal-header">
            <span class="close" id="span4">&times;</span>    
          </div>
          <div class="popup-body">
            <form name = "SimEditForm" method="POST" style="color: black; padding:2%; border-radius:1%;width: 60vw; border-color: black;">
              {% csrf_token %}
              <fieldset class="form-group">
                <h2 id = "test" name = 'test'></h2>
                <div>
                <input id="myInput" type="text" name="sim_name" value='default' readonly/>
                <input type="hidden" name="form_type" value="formOne">
                {{ form3|crispy}}
              </fieldset>
                <button style="background: black; padding:2%; text-size-adjust: auto; color:white; width:95%" class="btn btn-outline-info" type="submit"><span class="glyphicon glyphicon-check"></span> &nbsp;Save and Apply</button>
              <br />
                <a href="{% url 'tc:home' %}" style="text-decoration: underline; color: white; padding:2%; cursor:pointer;">Exit</a></sub>
            </form>
            <script src = "/static/js/classHome.js"></script>
          </div>
        </div>
      </div>
      
      <div id="modal5" class="modal" style = "padding-top: 15%;">
        <div class="modal-content"style="width: 65%">
          <div class="modal-header">
            <span class="close" id="span5">&times;</span>    
          </div>
          <div class="popup-body">
            <form name = "MissionEditForm" method="POST" style="color: black; padding:2%; border-radius:1%;width: 60vw; border-color: black;">
              {% csrf_token %}
              <fieldset class="form-group">
                <h2 id = "editmissionheader" name = 'editmissionheader'></h2>
                <input type="hidden" name="form_type" value="formTwo">
                <input id="missionname" type="text" name="missionname" value='default' readonly/>
                {{ form4|crispy}}
              </fieldset>
                <button style="background: black; padding:2%; text-size-adjust: auto; color:white; width:95%" class="btn btn-outline-info" type="submit"><span class="glyphicon glyphicon-check"></span> &nbsp;Save and Apply</button>
            </form>
            <script src = "/static/js/editmission.js"></script>
          </div>
        </div>
      </div>
    </center>
    {% else %}

    {% endif %}
    {% endblock %}
  </div>
</body>
</html>