
{% extends "home/index.html" %}
{% load static %}

{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="eng"></html>
<head>
    <meta charset="utf-8">
    <title>Test</title> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
</head>
<body>
      <div class="row">
        {% block start %}
        {% if user.is_authenticated %}
        <center>
          <h3>Welcome to {{ class_name }}</h3>
          <div class="box">
            <div class="content">
              <br>
              <table id = "invisibleHeader" align = "center" border = "0" style="width: 80%; margin-left: 2.5%">
              <thead>
                <th style="font-size:18px; width: 10%; padding-left:1%">Sim List</th>
                <th style="font-size:15px; width: 53%; padding-left:3%"><button id="addsim" onclick="window.location ='{{ class_name }}/newSim';"><span class="glyphicon glyphicon-plus"></span> &nbsp;New Sim</button></th>
                <th style="font-size:18px; width: 10%; padding-left:0%">Mission List</th>
                <th style="font-size:15px; width: 40%; padding-left:1%"><button id="addsim" onclick="window.location ='{{ class_name }}/newMission';"><span class="glyphicon glyphicon-plus"></span> &nbsp;New Mission</button></th>
              </thead>
              </table>
              
              <table id = "simtable" align = "left" border="2" style="width: 45%; margin-left: 2.5%;">
                <thead>
                  <th style="font-size:18px; width: 7%"></th>
                  <th style="font-size:18px; width: 17%">Name</th>
                  <th style="font-size:18px; width: 17%">Status</th>
                  <th style="font-size:18px; width: 49%"></th>
                </thead>
                 {% for sim in sims %}
                <tr style="font-size:16px; max-height: 20px; overflow-y: scroll;">
                  <td style="font-size:16px;"></td>
                  <td style="font-size:16px;"><a class = "simlist" href="{% url 'tc:sim' sim.pk %}">{{ sim }}</a></td>
                  <td style="font-size:16px;"></td>
                  <td style="font-size:16px;"><button type = "button">Start Sim</button><button type = "button" class="op">End Sim</button></td>
                </tr>
              {% endfor %}
              </table> 
              <table id="missiontable" align = "right" border="2" style="width: 45%; margin-right: 2.5%;">
                <thead>
                  <th style="font-size:18px; width: 18%">Name</th>
                  <th style="font-size:18px; width: 18%">Status</th>
                  <th style="font-size:18px; width: 54%"></th>
                </thead>
                 {% for mission in missions %}
                <tr style="font-size:16px; max-height: 20px; overflow-y: scroll;">
                  <td style="font-size:16px;"><a class = "missionlist">{{ mission }}</a></td>
                  <td style="font-size:16px;"></td>
                  <td style="font-size:16px;"><button type = "button">Manage</button><button type = "button" class="op">Operators</button><button type = "button" class="settings">Reports</button></td>
                </tr>
              {% endfor %}
              </table> 

              <div id="modal4" class="modal">
                <div class="modal-content"style="width:500px">
                  <div class="modal-header">
                    <span class="close" id="span4" onClick="openForm()">&times;</span>
                    <h2>Add New Simulation</h2>
                  </div>
                <div class="popup-body">
                  <form name = "SimCreationForm" method="POST" style="color: black; padding:10%; border-radius:1%;width: 60vw; border-color: black;">
                    {% csrf_token %}
                    <fieldset class="form-group">
                      {{ form|crispy}}
                    </fieldset>
                      <button style="background: black; padding:2%; font-size: 2rem; color:white;" class="btn btn-outline-info" type="submit"><span class="glyphicon glyphicon-check"></span> &nbsp;Add Sim</button>
                    <br />
                      <a href="{% url 'tc:home' %}" style="text-decoration: underline; color: white; padding:2%; cursor:pointer;">Exit</a></sub>
                  </form>
                   
                </div>
                </div>
              </div>
              
        </center>
        {% else %}

        {% endif %}
        {% endblock %}
      </div>
      
</body>
</html>