{% extends "home/index.html" %}
{% load crispy_forms_tags %}
{% block comms %}

  {% include "tc/tcSim.html" %}
  {% include "tc/leftnav.html" %}
  <link rel="stylesheet" href="../../../static/css/fosim_panels.css">
  <link rel="stylesheet" href="../../../static/css/leftnav_comms.css">
    
  <div style="height: 130vh">
    <!-- Header -->
    <div id="commsheader" style="margin-top:-70px; margin-left: 225px; z-index:7; color: white; border-bottom: solid;">
      <table style="width: 100%">
        <tr>
          <td><div id="commsheader" style="float: left;color: white;padding-right: 50px;">
            <h2><b>Communications Subsystem (COMMs)</b></h2>
          </div></td>
          <td><div id="displaytime" style="float: right; border-color: white; color: white;border-style: solid; ; padding-left: 5px; padding-right: 5px">
            <div id="time"></div>
          </div></td>
        </tr>
      </table>
    </div>

    <!-- body panels-->
    <div id="panelgrid" style="margin-top: 15px;">

      <div id="item1">
        <div class="panel-header">
          <h3 class="panel-title">Subsystem Telemetry</h3>
        </div>
        <div class="panel-body">
          <b style="display: flex;">
            <p><u>ACS:</u></p>&nbsp;
            <p id="Telemetry-ACS">Not Received</p>
          </b>
          <b style="display: flex;">
            <p><u>EPS:</u></p>&nbsp;
            <p id="Telemetry-EPS">Not Received</p>
          </b>
          <b style="display: flex;">
            <p><u>TCS:</u>&nbsp;
            <p id="Telemetry-TCS">Not Received</p>
            </b>
          <b style="display: flex;">
            <p><u>Payload:</u></p>&nbsp;
            <p id="Telemetry-Payload">Not Received</p>
          </b>
        </div>
      </div>

      <div id="item2">
        <div class="panel-header">
          <h3 class="panel-title">System Status</h3>
        </div>
        <div class="panel-body">
          <b style="display: flex;">
            <p><u>On-Board Computer:</u></p>&nbsp;
            <p id="On-Board-Computer">Not Reached</p>
          </b>
          <b style="display: flex;">
            <p><u>Antenna Status:</u></p>&nbsp;
            <p id="Antenna-Status">Not Reached</p>
          </b>
        </div>
      </div>

      <div id="item3">
        <div class="panel-header">
          <h3 class="panel-title">Signal Attributes</h3>
          </div>
          <div class="panel-body">
            <b style="display: flex;">
              <p><u>Bandwidth:</u></p>&nbsp;
              <p id="Bandwidth">##.###</p>&nbsp;
              <p>GHz</p>
            </b>
            <b style="display: flex;">
              <p><u>Gain:</u></p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <p id="Gain">#</p>&nbsp;
              <p>dB</p>
            </b>
          </div>
      </div>

      <div id="item4">
        <div class="panel-header">
          <h3 class="panel-title">Mission Objective</h3>
          </div>
          <div class="panel-body">
            <b style="display: flex;">
              <p><u>Target:</u></p>&nbsp;
              <p id="Target">Not Reached</p>
            </b>
            <b style="display: flex;">
              <p><u>Image:</u></p>&nbsp;
              <p id="Image">Not Captured</p>
            </b>
            <b style="display: flex;">
              <p><u>Status:</u></p>&nbsp;
              <p id="Status">Not Completed</p>
            </b>
          </div>
      </div>

    </div>
  </div>
  <script src = "/static/js/commsAttributes.js"></script>  
{% endblock comms %}