{% extends "home/index.html" %}
{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="utf-8"/>
</head>
<body>
    {% block start %}
    {% if user.is_authenticated %}
    <div class="center">
        <center>
            <div class = header style="color: white;">
                <h2>Add New Simulation</h2>
            </div>
        </center>
        <div style= "padding-top:20vh;" class="centered">
            <form name = "SimCreationForm" method="POST" style="color: white; width: 70vw; ">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{ form|crispy}}
                </fieldset>
                <button style="background: black; font-size: 2rem; padding:1%; color: white;" class="btn btn-outline-info" type="submit">&nbsp;Submit</button>
            </form>
        </div>
    </div>
        
    {% else %}

    {% endif %}
    {% endblock %}
</body>
</html>