{% extends "tc/index.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block start %}

<body style="background-image: url({% static 'images/stars.jpg' %});">
  <div class="content-section col-md-8 col-md-offset-2">
    <form method="POST" style="color: white; margin: 4%; padding:10%; border-radius:1%;">
      {% csrf_token %}
      <fieldset class="form-group">
        {{ form|crispy}}
      </fieldset>
      <center>
        <button style="background: black; padding:2%; font-size: 2rem; color:white;" class="btn btn-outline-info" type="submit"><span class="glyphicon glyphicon-check"></span> &nbsp;Sign Up</button>
      </center>
      <br />
      <center>
        <a href="{% url 'tc:login' %}" style="text-decoration: underline; color: white; padding:2%; cursor:pointer;">Already have an account? Login Here</a></sub>
      </center>
    </form>
  </div>
</body>
{% endblock start %}