
{% extends "tc/navigate.html" %}
{% load static %}

{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="eng"></html>
<head>
    <meta charset="utf-8">
    <title>Test</title> 
    <link rel="stylesheet" type="text\css" href="{% static "css/paddingBetweenRows.css" %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
</head>
<body>
    
      <div class="row">
        {% block start %}
        {% if user.is_authenticated %}
        <center>
          <p>Welcome Back {{user.username}}!</p>
          <div class="box">
            <div class="content">
              <h3 class="list">Class List</h3>
              <table border="1">
                <thead>
                  <th>Name</th>
                  <th>Status</th>
                </thead>
                 {% for k in data %}
                <tr>
                  <td><a href="{% url "tc:classHome" %}">{{k}}</a></td>
                  <td>TBD</td>
                </tr>
              {% endfor %}
              </table> 
            </div>
          </div>
          <!--<a href="{% url 'admin:index' %}">View Admin Page</a>
          <br></br>
          <a href="{% url 'tc:createSim' %}">Create New Simulation</a>
          <br></br>
          <p>Active Simulations:</p>
          <ul style="list-style-type:none;padding: 0">
          {% for sim in sims %}

            <li><a href="{% url 'tc:sim' sim %}">{{ sim }}</a></li>
        
          {% endfor %}
          </ul>-->

        </center>
        {% else %}
        <center><h1>Successfully Logged Out</h1></center>
        {% endif %}
        {% endblock %}
      </div>
      
</body>
</html>