{% extends "home/index.html" %}
{% load static %}

{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="eng"></html>
<head>
    <meta charset="utf-8">
    <title>Test</title> 
    <link rel="stylesheet" type="text\css" href="{% static "css/paddingBetweenRows.css" %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
    <link rel="stylesheet" href="../../../static/css/table.css">
</head>
{% block start %}
<body style="background-size:cover; background-attachment: fixed; background-repeat: no-repeat; background-image: url({% static 'images/space.jpg' %}); height: 100vh">
    
      <div class="row">
      
        {% if user.is_authenticated %}
        <center>
          <h3 style = "color:white">Welcome Back {{user.username}}!</h3>
          <a href="{% url 'admin:index' %}">View Admin Page</a>
          <div class="box">
            <div class="content">
              <p  style = "text-align: right; margin-right: 10%; font-size: 16px;"><button id="addclass"data-toggle="modal" data-target = "modal2"><span class="glyphicon glyphicon-plus"></span> &nbsp;Add New Class</button></p>
              <h3 class="list" style="margin-left: 10%;text-align: left; color:white">Class List</h3>
              <table id= "classtable" border="2" style="width: 80%;">
                <thead>
                  <th style="width:4%"></th>
                  <th style="font-size:18px; width: 19%">Name</th>
                  <th style="font-size:18px; width: 19%">Status</th>
                  <th style="font-size:18px; width: 19%">Code</th>
                  <th style="font-size:18px; width: 19%">Simulations</th>
                </thead>
                 {% for class_name in tcobj.classes.all %}
                <tr style="font-size:16px; max-height: 20px; overflow-y: scroll;">
                  <td style="text-align:center;"><button id = {{class_name}} type = "button" data-toggle = "modal" data-target = "modal1" class="settings"><span class="glyphicon glyphicon-wrench"></span></button></td>
                  <td style="font-size:16px;"><a id = {{class_name}} class = "classlist" href="{% url 'tc:classHome' class_name %}">{{class_name}}</a></td>
                  <td style="font-size:16px;">{{class_name.status}}</td>
                  <td style="font-size:16px;">{{class_name.code}}</td>
                  <td style="font-size: 16px;">
                    {% for x in class_name.sims.all %}
                    <li style = "list-style-type: none;">{{x}}</li>
                    {% endfor %}
                  </td>
                </tr>
              {% endfor %}
              </table> 

              <div id="modal1" class="modal" style =  "padding-top: 10%;">
                <div class="modal-content" style="width: 60%;">
                  <div class="modal-header">
                    <span class="close" id="span1">&times;</span>
                    
                  </div>
                  <div class="popup-body">
                    <form name = "ClassEditForm" method="POST" style="color: black; border-radius:1%;width: 60vw; border-color: black;">
                      {% csrf_token %}
                      <fieldset class="form-group">
                        <h2 id = "test" name = 'test'></h2>
                        <input id="myInput" type="text" name="class_name" value='default' readonly/>
                        {{ form2|crispy}}
                      </fieldset>
                        <button style="background: black; padding:2%; font-size: 2rem; color:white;" class="btn btn-outline-info" type="submit"><span class="glyphicon glyphicon-check"></span> &nbsp;Save and Apply</button>
                      <br />
                        <a href="{% url 'tc:home' %}" style="text-decoration: underline; color: white; padding:2%; cursor:pointer;">Exit</a></sub>
                    </form>
                    <script src = "/static/js/settingspopup.js"></script>
                  </div>
                </div>
                </div>
              
              <div id="modal2" class="modal" style = "padding-top: 10%">

                <div class="modal-content"style="width: 60%;">
                  <div class="modal-header">
                    <span class="close" id="span2" onClick="openForm()">&times;</span>
                    <h2>Add New Class</h2>
                  </div>
                <div class="popup-body">
                  <form name = "ClassForm" method="POST" style="color: black; padding:10%; border-radius:1%;width: 60vw; border-color: black;">
                    {% csrf_token %}
                    <fieldset class="form-group">
                      {{ form|crispy}}
                    </fieldset>
                      <button style="background: black; padding:2%; font-size: 2rem; color:white;" class="btn btn-outline-info" type="submit"><span class="glyphicon glyphicon-check"></span> &nbsp;Add Class</button>
                    <br />
                  </form>
                    <script src = "/static/js/addnewclasspopup.js"></script>
                </div>
                </div>
              </div>

              <div id="modal3" class="modal">
                <div class="modal-content"style="width:500px">
                  <div class="modal-header">
                    <span class="close" id="span3">&times;</span>
                    <h2>Operators</h2>
                  </div>
                  <div class="popup-body">
                    <li>{{class_test}}</li>
                    {% for x in class_test.flight_operators.all %}
                    <li>hi</li>
                    {% endfor %}
                    <h3><button id = "save" class="submitBtn" onClick="displayData()">Save</button></h3>
                    <script src = "/static/js/operatorspopup.js"></script>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </center>
        {% else %}
        <center><h1>Successfully Logged Out</h1></center>
        {% endif %}
        {% endblock %}
      </div>
          
</body>
</html>