
{% extends "tc/nosidebar.html" %}
{% load crispy_forms_tags %}
{% block start %}

{% for form in forms %}

  {% if form.instance.button_value %}
  <div style="background-color:Green;border-radius: 25px;height: 15%;width: 25vw;display: inline-block;">
  {% else %}
  <div style="background-color:Red  ;border-radius: 25px;height: 15%;width: 25vw;display: inline-block;">
  {% endif %}
    <center>
      <form method="POST" style="color: white; margin: 10%;">
        <p>{{form.prefix}}</p>
        {% csrf_token %}
        <fieldset class="form-group">
          {{ form|crispy}}
        </fieldset>
        <button style="background: black; font-size: 2rem; padding:1%; color: white;" class="btn btn-outline-info" type="submit" name={{form.prefix}}>Submit</button>
      </form>
    </center>
  </div>
{% endfor %}

{% endblock start %}
