{% extends "home/index.html" %}
{% load crispy_forms_tags %}
{% block acs %}

  {% include "fo/foConsole.html" %}
  {% include "fo/leftnav.html" %}
  <link rel="stylesheet" href="../../../static/css/fosim_panels.css">
  <link rel="stylesheet" href="../../../static/css/leftnav_acs.css">
  
  <div style="height: 130vh">
    <!-- Header -->
    <div id="acsheader" style="margin-top:-70px; margin-left: 225px; z-index:7; color: white;border-bottom: solid;">
      <table style="width: 100%">
        <tr>
          <td><div id="acsheader" style="float: left;color: white;padding-right: 50px;">
            <h2><b>Attitude and Control Subsystem (ACS)</b></h2>
          </div></td>
          <td><div id="displaytime" style="float: right; border-color: white; color: white;border-style: solid; ; padding-left: 5px; padding-right: 5px"><div id="time"></div>
          </div></td>
        </tr>
      </table>
    </div>

      <!-- body panels-->
      <div id="panelgrid" style="margin-top: 15px;">
  
        <div id="item1">
          <div class="panel-header">
            <h3 class="panel-title">Orientation</h3>
          </div>
          <div class="panel-body">
            <b style="display: flex;">
              <p><u>Roll (x):</u></p>&nbsp;&nbsp;&nbsp;
              <p id="Oreintation-Roll">θ</p>
              <p>°</p>
            </b>
            <b style="display: flex;">
              <p><u>Pitch (y):</u></p>&nbsp;
              <p id="Oreintation-Pitch">θ</p>
              <p>°</p>
            </b>
            <b style="display: flex;">
              <p><u>Yaw (z):</u></p>&nbsp;&nbsp;&nbsp;
              <p id="Oreintation-Yaw">θ</p>
              <p>°</p>
            </b>
            <b style="display: flex;">
              <p><u>Longitude:</u></p>&nbsp;
              <p id="Oreintation-Longitude">#</p>
            </b>
          </div>
        </div>

        <div id="item2">
          <div class="panel-header">
            <h3 class="panel-title">Control Moment Gyroscope (CMG)</h3>
          </div>
          <div class="panel-body">
            <b style="display: flex;">
              <p><u>Roll (x):</u></p>&nbsp;&nbsp;&nbsp;
              <p id="CMG-Roll">Inactive</p>
            </b>
            <b style="display: flex;">
              <p><u>Pitch (y):</u></p>&nbsp;
              <p id="CMG-Pitch">Inactive</p>
            </b>
            <b style="display: flex;">
              <p><u>Yaw (z):</u></p>&nbsp;&nbsp;
              <p id="CMG-Yaw">Inactive</p>
            </b>
          </div>
        </div>

        <div id="item3">
          <div class="panel-header">
            <h3 class="panel-title">System Status</h3>
          </div>
          <div class="panel-body">
            <b style="display: flex;">
              <p><u>CMG Status:</u></p>&nbsp;
              <p id="CMG-Status">Inactive</p>
            </b>
            <b style="display: flex;">
              <p><u>Orientation Relay:</u></p>&nbsp;
              <p id="Orientation-Relay">Inactive</p>
            </b>
          </div>
        </div>

        <div id="item4">
          <div class="panel-header">
            <h3 class="panel-title">Telemetry Transfer</h3>
          </div>
          <div class="panel-body">
            <br><div class="acstelemtry" style="text-align:center";></div><br>
            <b style="display: flex;">
              <p><u>Status:</u></p>&nbsp;
              <p id="Telemetry-Status">Not Transferred</p>
            </b>
          </div>
        </div>

      </div>
  </div>
<script src = "/static/js/acsAttributes.js"></script>
{% endblock acs %}