{% extends "fo/foConsole.html" %}
{% load crispy_forms_tags %}
{% block body %}

<link rel="stylesheet" href="../../../static/css/fosim_eps.css" >
	  
  <!-- body panels-->
  <div id="panelgrid">
    <div id="item1">
      <div class="panel-header">
        <h1 class="panel-title">Attribute #1</h1>
        </div>
        <div class="panel-body">
        <p></p>
        </div>
    </div>
    <div id="item2">
      <div class="panel-header">
        <h1 class="panel-title">Attribute #2</h1>
        </div>
        <div class="panel-body">
        <p></p>
        </div>
    </div>
    <div id="item3">
      <div class="panel-header">
        <h1 class="panel-title">Attribute #3</h1>
        </div>
        <div class="panel-body">
        <p></p>
        </div>
    </div>
    <div id="item4">
      <div class="panel-header">
        <h1 class="panel-title">Attribute #4</h1>
        </div>
        <div class="panel-body">
        <p></p>
        </div>
    </div>
    <div id="item5">
      <div class="panel-header">
        <h1 class="panel-title">Attribute #5</h1>
        </div>
        <div class="panel-body">
        <p></p>
        </div>
    </div>
  </div>

{% endblock body %}