
{% extends "home/index.html" %}
{% load static %}

{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="eng"></html>
<head>
    <meta charset="utf-8">
    <title>Test</title> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
</head>
<body>
      <div class="row">
        {% block start %}
        {% if user.is_authenticated %}
        <center>
          <h3>Welcome to {{ class_name }}</h3>
          <div class="box">
            <div class="content">
              <h3 class="list" style="margin-left: 10%;text-align: left; margin-top: 2.5%;">Sim List</h3>
              <table id = "simtable" border="2" style="width: 80%; margin-left: 2.5%; margin-top: 2.5%;">
                <thead>
                  <th style="font-size:18px; width: 18%">Name</th>
                  <th style="font-size:18px; width: 18%">Status</th>
                  <th style="font-size:18px; width: 54%"></th>
                </thead>
                 {% for sim in sims %}
                <tr style="font-size:16px; max-height: 20px; overflow-y: scroll;">
                  <td style="font-size:16px;"><a class = "simlist" href="{% url 'fo:sim' sim %}">{{ sim }}</a></td>
                  <td style="font-size:16px;"></td>
                  <td style="font-size:16px;"><button type = "button">Manage</button><button type = "button" class="op">Operators</button><button type = "button" class="settings">Reports</button></td>
                </tr>
              {% endfor %}
              </table> 
              
        </center>
        {% else %}

        {% endif %}
        {% endblock %}
      </div>
      
</body>
</html>