{% load crispy_forms_tags %}
{% block console %}

<link rel="stylesheet" href="../../../static/css/console.css">

  <!-- bottom console -->
  <div class="resizable" style = "z-index: 3;">
	<div class="left-side">
	  <div class="title-wrapper">
		<div class="title">{{ sim }}</div>
	  </div>
	  <div class="content-wrapper">
		<div id="terminal1" class="terminal"></div>
	  </div>
	  <div class="input-container">
	  </div>
	</div>
	<div class="right-side">
	  <div class="title-wrapper">
		<div class="title">{{ subsystem }}</div>
	  </div>
	  <div class="content-wrapper">
		<div id="terminal2" class="terminal"></div>
	  </div>
	  <div class="input-container">
		<input type="text" id="input" autofocus />
	  </div>
	</div> 
	<div class="resizable-handle"></div>
  </div> 

<script src=  "/static/js/jquery.min.js"></script>
<script src = "/static/js/fosim.js"></script>
  
{% endblock console %}