{% load static %}
{% load crispy_forms_tags %}
{% block console %}

<link rel="stylesheet" href="{% static "/css/fosim_console.css" %}">
<body style= "background-size:cover; background-attachment: fixed; background-repeat: no-repeat; background-image: url({% static 'images/space.jpg' %}); height: 100vh">
  <!-- bottom console -->
  <div class="resizable" style = "z-index: 3;">
	<div class="left-side">
		<div class="title-wrapper">
			<div class="title">{{ sim }}</div>
		  </div>
		  <div class="left-content-wrapper">
			<div id="terminal1" class="terminal"></div>
		  </div>
		</div>
		<div class="right-side">
		  <div class="title-wrapper">
			<div class="title">{{ subsystem }}</div>
		  </div>
		  <div class="right-content-wrapper">
			<div id="terminal2" class="terminal"></div>
		  </div>
		  <div class="input-container">
			<input type="text" id="input" autofocus />
		  </div>
		</div> 
		<div class="resizable-handle"></div>
	  </div>
	
	<script src=  "{% static "/js/jquery.min.js" %}"></script>
	<script src = "{% static "/js/fosim.js" %}"></script>
</body>
	{% endblock console %}