
{% extends "home/index.html" %}
{% load static %}

{% load crispy_forms_tags %}
{% block start %}
{% if flightOperator.user.is_authenticated %}
<link rel="stylesheet" href="../../../static/css/fohome.css">
<link rel="stylesheet" href="../../../static/css/table.css">
<script>
  $(document).ready(function () {
    $('#my-button').click(function () {
        $.ajax({
            url: '',
            success: function (data) {
                alert(data.message);
            }
        });
    });
  }); 
</script>
<body style= "background-size:cover; background-attachment: fixed; background-repeat: no-repeat; background-image: url({% static 'images/space.jpg' %}); height: 100vh">

<center>
  <div class="header" style="color:white;">
    <h3>Welcome Back {{user.username}}!</h3>
  </div>
  <div class="box">
    <div class="content">
      <p  style = "text-align: right; margin-right: 10%; font-size: 16px;"><button id="joinclass"data-toggle="modal" data-target = "modal2"><span class="glyphicon glyphicon-plus"></span> &nbsp;Join New Class</button></p>
      <h3 class="list" style="color:white;margin-left: 10%;text-align: left;">Class List</h3>
      <table id= "classtable" border="2" style="width: 80%; z-index: -1;">
        <thead>
          <th style="font-size:18px; width: 26%">Name</th>
          <th style="font-size:18px; width: 26%">Status</th>
          <th style="font-size:18px; width: 26%">Code</th>
          <th style="width:20%">Professor</th>
        </thead>
         {% for class_name in classes %}
        <tr style="font-size:16px; max-height: 20px; overflow-y: scroll;">
          <td style="font-size:16px;"><a id = {{class_name}} class = "classlist" href="{% url 'fo:classHome' class_name %}">{{class_name}}</a></td>
          <td style="font-size:16px;">{{class_name.status}}</td>
          <td style="font-size:16px;">{{class_name.code}}</td>
          <td style="font-size: 16px;">
            {% for x in class_name.tc.all %}
            <li style = "list-style-type: none;">{{x}}</li>
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
      </table> 

      <div id="modal1" class="modal" style = "padding-top: 10%;">
        <div class="modal-content"style="width: 60%">
          <div class="modal-header">
            <span class="close" id="span1" onClick="openForm()">&times;</span>
            <h2>Join New Class</h2>
          </div>
        <div class="popup-body">
          <form name = "JoinClassForm" method="POST" style="color: black; padding:10%; border-radius:1%;width: 60vw; border-color: black;">
            {% csrf_token %}
            <fieldset class="form-group">
              {{ form|crispy}}
            </fieldset>
              <button style="background: black; padding:2%; font-size: 2rem; color:white;" class="btn btn-outline-info" type="submit"><span class="glyphicon glyphicon-check"></span> &nbsp;Add Class</button>
            <br />
              <a href="{% url 'tc:home' %}" style="text-decoration: underline; color: white; padding:2%; cursor:pointer;">Exit</a></sub>
          </form>
            <script src = "/static/js/joinnewclass.js"></script>
        </div>
        </div>
      </div>  
    </div>
</div>
</center>
</body>
{% else %}
<p>here</p>
  <meta http-equiv = "refresh" content = "0; url = /fo" />
{% endif %}
{% endblock start %}
