
{% extends "home/index.html" %}
{% load static %}
{% block start %}
{% if flightOperator.user.is_authenticated %}

<script>
  $(document).ready(function () {
    $('#my-button').click(function () {
        $.ajax({
            url: '',
            success: function (data) {
                alert(data.message);
            }
        });
    });
  }); 
</script>

<center>

  <h3>Welcome Back {{user.username}}!</h3>

  <a href="{% url 'fo:join' %}">Join Class</a>
  <br></br>

  <h3>Active Simulations:</h3>
  <ul style="list-style-type:none;padding: 0">
    {% for sim in flightOperator.sim_list.all %}

      <li><a href="{% url 'fo:sim' sim.pk %}">{{ sim }}</a></li>

    {% endfor %}
  
  </ul>
  <div class="console-container">
    <div class="console-header">
      <h1 class="console-title">Live Console</h1>
    </div>
    <div class="console-body">
      
    </div>
  </div>

  <div class="chat-container">
    <div class="chat-header">
      <h1 class="chat-title">Group Chat</h1>
    </div>
    <div class="chat-body">
      
    </div>
  </div>
  <div class="blank-container">
    <div class="blank-header">
      <h1 class="blank-title">Blank</h1>
    </div>
    <div class="blank-body">
      
    </div>
  </div>

</center>

{% else %}
<p>here</p>
  <meta http-equiv = "refresh" content = "0; url = /fo" />
{% endif %}
{% endblock start %}
