{% extends "fo/foIndex.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block start %}

<body style="background-image: url({% static 'images/stars.jpg' %});">
  <div class="content-section col-md-8 col-md-offset-2">
    <center>
      <form method="POST" style="color: white; margin: 4%; padding:10%; border-radius:1%;">
        <p>Welcome to the Flight Operator Login Page!</p>
        {% csrf_token %}
        <fieldset class="form-group">
          {{ form|crispy}}
        </fieldset>
        <center>
          <button style="background: black; font-size: 2rem; padding:1%; color: white;" class="btn btn-outline-info" type="submit"><span class="glyphicon glyphicon-log-in"></span> &nbsp; login</button>
        </center>
        <br/>
        <sub style="text-align: center;"><a href="{% url 'fo:register' %}" style="background: black;color: white; padding:2%; cursor:pointer;">Don't have account? Sign up Here</a></sub>
      </form>
    </center>
  </div>
</body>
{% endblock start %}