
{% extends "home/index.html" %}
{% load crispy_forms_tags %}
{% block start %}

<script src=  "/static/js/jquery.min.js"></script>
<script src = "/static/js/fosim.js"></script>

<p id = "message">{{ sim }}<p>
{% for sys in sim.sys_list.all %}

  <div style="background-color:Red; border-radius: 25px;min-height: 20vh;min-width: 33vw;display: inline-block;">
    <center>
      <p>{{ sys }}<p>
      <input type='checkbox' class='syscheck' id="{{ sys.pk }}">
      <a class='submit' id="{{ sys.pk }}" href='#' syscheck-id="{{ sys.pk }}">Submit</a>
      <p>{{ sys.pk }}</p>
    </center>
  </div>
{% endfor %}

<script src=  "/static/js/jquery.min.js"></script>
<script src = "/static/js/fosim.js"></script>

{% endblock start %}
