
{% extends "fo/foNavigate.html" %}
{% block start %}

<center>

  {% if sim.button_value %}
    <a class='button1' style="background-color:Green">Correct</a>
  {% else %}
  <a class='button1' style="background-color:Red">Correct</a>
  {% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
  {% csrf_token %}
  {% for choice in question.choice_set.all %}
      <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
      <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
  {% endfor %}
  <input type="submit" value="Vote">
</form>

</center>

{% endblock start %}
