
{% extends "home/index.html" %}
{% load crispy_forms_tags %}
{% block start %}

<link rel="stylesheet" href="../../../static/css/fosim.css">

<!--<p id = "message">{{ sim }}<p>
{% for sys in sim.sys_list.all %}

  <div style="background-color:Red; border-radius: 25px;height: 15%;width: 25vw;display: inline-block;">
    <center>
      <p>{{ sys }}</p>
      <input type="{{ sys.input }}" class='syscheck' id="{{ sys.pk }}">
      <p id="{{ sys.pk }}" class = "val" >Value: {{ sys.value }}</p>
      <input type="submit" class='submit' id="{{ sys.pk }}" syscheck-id="{{ sys.pk }}">
    </center>
  </div>
{% endfor %}

</div>-->

<div class="blank-container">
  <div class="blank-header">
    <h1 class="blank-title">Blank</h1>
  </div>
  <div class="blank-body">
    
  </div>
</div>

<div class="resizable">
  <div class="left-side">
    <div class="title-wrapper">
      <div class="title">{{ sim }}</div>
    </div>
    <div class="content-wrapper">
      <div id="terminal1" class="terminal"></div>
    </div>
    <div class="input-container">
    </div>
  </div>
  <div class="right-side">
    <div class="title-wrapper">
      <div class="title">Subsystem</div>
    </div>
    <div class="content-wrapper">
      <div id="terminal2" class="terminal"></div>
    </div>
    <div class="input-container">
      <input type="text" id="input" autofocus />
    </div>
  </div>
  <div class="resizable-handle"></div>
</div>


<script src=  "/static/js/jquery.min.js"></script>
<script src = "/static/js/fosim.js"></script>

{% endblock start %}
