{% extends "home/index.html" %}
{% load crispy_forms_tags %}
{% block tcs %}

  {% include "fo/foConsole.html" %}
  {% include "fo/leftnav.html" %}
  <link rel="stylesheet" href="../../../static/css/fosim_panels.css">
  <link rel="stylesheet" href="../../../static/css/leftnav_tcs.css">

  <div style="height: 130vh">
    <!-- Header -->
    <div id="tcsheader" style="margin-top:-70px; margin-left: 225px; z-index:7; border-bottom: solid;">
      <table>
        <tr>
          <td><div id="tcsheader" style="padding-right: 50px;">
            <h2><b>Thermal Control Subsystem (TCS)</b></h2>
          </div></td>
          <td><div id="break" style="width: 32vw;"></div></td>
          <td><div id="displaytime" style="border-style: solid; ; padding-left: 5px; padding-right: 5px">
            <div id="time"></div>
          </div></td>
        </tr>
      </table>
    </div>

    <!-- body panels-->
    <div id="panelgrid" style="margin-top: 15px;">
      <div id="item1">
        <div class="panel-header">
          <h3 class="panel-title">System Temperatures</h3>
          </div>
          <div class="panel-body">
          <p><u><b>Battery:</u> [#°C] </b></p>
          <p><u><b>On-Board Computer:</u> [#°C] </b></p>
          <p><u><b>Propulsion:</u> [#°C] </b></p>
          <p><u><b>CMGs:</u> [#°C] </b></p>
          </div>
      </div>
      <div id="item2">
        <div class="panel-header">
          <h3 class="panel-title">System Temperatures</h3>
          </div>
          <div class="panel-body">
          <p><u><b>Solar Panels:</u> [#°C] </b></p>
          <p><u><b>Gimbal System:</u> [#°C] </b></p>
          <p><u><b>Imager:</u> [#°C] </b></p>
          <p><u><b>Antenna Controller:</u> [#°C] </b></p>
          </div>
      </div>
      <div id="item3">
        <div class="panel-header">
          <h3 class="panel-title">Telemetry Transfer</h3>
          </div>
          <div class="panel-body">
            <br><div class="tcstelemtry" style="text-align:center";></div>
          </div>
      </div>
      <div id="item4">
        <div class="panel-header">
          <h3 class="panel-title">Signal Status</h3>
          </div>
          <div class="panel-body">
            <div class="signaltcs" style="text-align:center";></div><br>
            <div class="verifytcs" style="text-align:center";></div>
          </div>
      </div>
    </div>
  </div>
  <script src = "/static/js/tcsAttributes.js"></script>  
{% endblock tcs %}